/* page settings */
@page {
    size: 170mm 240mm;
    margin-bottom: 19mm;
    margin-top: 19mm;
}
@page:left {
    margin-left: 19mm;
    margin-right: 23mm;
}
@page:right {
    margin-left: 23mm;
    margin-right: 19mm;
}

/* title page */
header {
    page: no-header-footer;
}
header h3.date {
    string-set: version content();
}

/* all front-matter starts on a right page */
#TOC,
.front-matter {
    page: front-matter;
}
.front-matter {
    page-break-before: right;
}

/* header settings */
nav.level1,
section.level1 {
    string-set: chap attr('data-running-title'), sect '';
}
@page :left {
    @top-left {
        font-family: 'Myriad pro', serif;
        font-weight: 600;
        font-size: 80%;
        vertical-align: bottom;
        padding-bottom: 0.5em;
        margin-bottom: 1.5em;
        font-variant: small-caps;
        letter-spacing: 0.05em;
        border-bottom: 1px solid black;
        content: string(chap, first);
    }
}
section#references {
    page-break-before: right;
    string-set: sect attr('data-running-title'), chap attr('data-running-title');
}
section.level2 {
    string-set: sect attr('data-running-title');
}
@page :right {
    @top-right {
        font-family: 'Myriad pro', serif;
        font-weight: 600;
        font-size: 80%;
        vertical-align: bottom;
        padding-bottom: 0.5em;
        margin-bottom: 1.5em;
        font-variant: small-caps;
        letter-spacing: 0.05em;
        border-bottom: 1px solid black;
        content: string(sect, first);
    }
}
@page no-header {
    @top-left {
        content: normal;
    }
    @top-right {
        content: normal;
    }
}

/* footer settings */

div#reset {
    counter-reset: page 1;
}

/* remove for final version */
@page {
    @bottom-center {
        font-family: 'Myriad pro', serif;
        content: string(version, first);
    }
}

/* page numbers */
@page :left {
    @bottom-left {
        font-family: 'Myriad pro', serif;
        content: counter(page);
    }
}
@page front-matter:left {
    @bottom-left {
        font-family: 'Myriad pro', serif;
        content: counter(page, lower-roman);
    }
}
@page :right {
    @bottom-right {
        font-family: 'Myriad pro', serif;
        content: counter(page);
    }
}
@page front-matter:right {
    @bottom-right {
        font-family: 'Myriad pro', serif;
        content: counter(page, lower-roman);
    }
}
@page front-matter:blank {
    @bottom-left {
        content: normal;
    }
    @bottom-right {
        content: normal;
    }
}
@page no-header-footer {
    @top-left {
        content: normal;
    }
    @top-right {
        content: normal;
    }
    @bottom-left {
        content: normal;
    }
    @bottom-right {
        content: normal;
    }
}
@page:blank {
    @top-left {
        content: normal;
    }
    @top-right {
        content: normal;
    }
    @bottom-left {
        content: normal;
    }
    @bottom-right {
        content: normal;
    }
}

/* TOC */

#TOC {
    page-break-before: right;
    page-break-after: always;
}
#TOC a {
    text-decoration: none;
    hyphens: none !important;
}
#TOC ul,
#TOC ul ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 1.5em;
}
#TOC li {
    text-indent: -1.5em;
}
#TOC ul ul {
    margin-left: 1.5em;
    font-weight: normal;
}
#TOC > ul > li {
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}
#TOC ul a::after {
    content: leader('.') target-counter(attr(href), page);
    font-style: normal;
}
#TOC > ul > li > a::after {
    content: leader(' ') target-counter(attr(href), page);
    font-style: normal;
}

/* set the number of roman-numbered sections here */

#TOC > ul > li:nth-child(-n+3) > a::after {
    content: leader(' ') target-counter(attr(href), page, lower-roman);
}
#TOC > ul > li > a > .toc-section-number::before {
    content: "Chapter ";
}
#TOC > ul > li > a > .toc-section-number::after {
    content: ":";
}

/* chapter page settings */

section.level1.chapter {
    page-break-before: right;
}
section.level1 {
    page-break-after: always;
}
section.content-start {
    counter-reset: page 1;
}

/* content settings */

html {
    font-size: 12pt;
}
body {
    color: black;
}
.chapter h1 .header-section-number {
    font-weight: 600;
    line-height: 150px;
}
.chapter h1 .header-section-number::after {
    content: "\A";
    white-space: pre;
}
.chapter h1{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    text-indent: -100px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    page-break-after: avoid;
}
h5 {
    font-size: 12pt;
    margin-left: 100px;
}
.chapter section.level2:first-of-type {
    page-break-before: always;
}
p {
    margin-left: 100px;
    margin-right: 0px;
}
figure {
    margin-right: 0;
}
a {
    text-decoration: none;
}
ul,
ol {
    margin-left: 100px;
}
ul:first-child,
ul:first-child {
    page-break-after: avoid;
}
.pre-small-image + figure {
    margin-left: 100px;
}
.pre-small-image + figure figcaption{
    margin-left: 0;
}
.image-screenshot + figure img {
    border: 1px solid #D3D3D3;
}
figure {
    page-break-inside: avoid;
}
table caption,
figure figcaption {
    margin-left: 100px;
    font-size: 80%;
    page-break-inside: avoid;
}
table thead,
table tbody {
    font-size: 70%;
}
.aside {
    width: 130px;
    font-size: 0.8em;
    margin-left: -50px;
    margin-right: 20px;
}
span.aside {
    margin-left: -150px;
}
h2 + .aside,
h3 + .aside,
h4 + .aside {
    top: 12pt;
}
img {
    page-break-after: avoid;
}
table tbody,
.references div {
    page-break-inside: avoid;
}
div.sourceCode {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-x: hidden;
}
