* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    hyphens: auto;
}
html {
    font-size: 24px;
}
body {
    display: block;
    max-width: 900px;
    margin: 3em auto 6em;
    font-family: 'Adobe Caslon Pro', sans-serif;
    color: rgba(0, 0, 0, 0.87);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "kern" on, "liga" on;
    -moz-font-feature-settings: "kern" on, "liga" on;
    font-feature-settings: "kern" on, "liga" on;
    line-height: 1.35;
    text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-family: 'Myriad pro', serif;
    hyphens: none;
    font-size: 1.3333333333333333em;
    margin: 1.3333333333333333em 0 0 0;
}
h1 {
    font-size: 2em;
}
h2 {
    font-weight: 700;
}
h3 {
    font-weight: 600;
}
h4 {
    font-style: italic;
    font-size: 1.2222222222222223em;
    margin-top: 1.2222222222222223em;
}
h5 {
    margin-left: 200px;
    font-weight: 600;
}
h5 .header-section-number {
    display: none;
}
h1 + h2 {
    margin-top: 0;
}
h2 + h3 {
    margin-top: 0;
}
h3 + h4 {
    margin-top: 0;
}
p {
    margin-left: 200px;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    line-height: 1.35;
}
figure {
    margin-right: 1em;
}
figure img {
    width: 100%;
}
table caption,
figure figcaption {
    margin-left: 200px;
    font-size: 0.85rem;
    font-family: 'Myriad pro', serif;
    text-align: left;
}
ol,
ul {
    margin-left: 200px;
}
.chapter h1 .header-section-number::before {
    content: "Chapter ";
}
.chapter h1 .header-section-number::after {
    content: ": ";
}
.table-title,
.figure-title {
    font-weight: bold;
}
.pre-small-image + figure {
    margin-left: 200px;
}
.pre-small-image + figure figcaption{
    margin-left: 0;
}
.image-screenshot + figure img {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.14),0 6px 10px 0 rgba(0,0,0,.098),0 1px 18px 0 rgba(0,0,0,.084);
}
table {
    font-size: 0.85rem;
    font-family: 'Myriad pro', serif;
    width: 100%;
}
th {
    vertical-align: bottom;
    font-variant: small-caps;
    font-weight: 600;
    line-height: 1;
    color: rgba(0, 0, 0, 0.54);
}
th,
td {
    padding: 3px;
}
.small-caps {
    font-variant: small-caps;
    letter-spacing: 0.05em;
}
p .small-caps {
    -webkit-font-feature-settings: "smcp" on;
    -moz-font-feature-settings: "smcp" on;
    font-feature-settings: "smcp" on;
    font-variant: normal;
    font-variant: prince-opentype(smcp);
    letter-spacing: 0.02em;
}
.aside {
    position: relative;
    float: left;
    margin-top: 0;
    margin-left: 0;
    width: 165px;
    text-align: right;
    list-style-type: none;
    clear: both;
    margin-bottom: 1rem;
    font-family: 'Myriad pro', serif;
    font-size: 0.75rem;
    line-height: 1.35;
    color: rgba(0, 0, 0, 0.54);
}
span.aside {
    margin-left: -200px;
}
h2 + .aside,
h3 + .aside,
h4 + .aside {
    top: 1rem;
}
.references {
    white-space: normal;
}
.references p {
    font-size: 80%;
    text-indent: -40px;
    margin-left: 40px;
}
.todo {
    color: red;
    font-family: "comic sans MS";
}
a {
    color: inherit;
}
code {
    font-family: 'menlo', monospace;
    font-size: 85%;
}
table {
    margin: 2em auto 3em;
}
blockquote {
    font-style: italic;
}
blockquote p {
    border-left: 5px solid gray;
    padding-left: 10px;
}
header h2 {
    margin: 0 0 2em;
}
.title {
    font-weight: 600;
}
.subtitle {
    margin-top: 0;
}
.author {
    margin-top: 2em;
}
.date {
    font-weight: normal;
}
.author:first-child,
.author:last-child {
    font-size: 20px;
}
code a,
.author a {
    text-decoration: underline;
}
.equation {
    margin: 2rem 0 3rem;
}
.footnotes {
    margin-top: 3em;
    padding-top: 1em;
    border-top: 1px solid #000;
}
