* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    hyphens: auto;
}
html {
    font-size: 24px;
}
body {
    display: block;
    max-width: 900px;
    margin: 3em auto 6em;
    font-family: 'Adobe Caslon Pro', sans-serif;
    color: rgba(0, 0, 0, 0.87);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    line-height: 1.35;
    text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Myriad pro', serif;
    hyphens: none;
}
h1,
h2,
h3 {
    font-size: 1.3333333333333333em;
    margin: 1.3333333333333333em 0 0 0;
}
h2 {
    text-transform: uppercase;
}
h4 {
    font-weight: normal;
    font-style: italic;
    font-size: 1.2222222222222223em;
}
h1 + h2 {
    margin-top: 0;
}
h2 + h3 {
    margin-top: 0;
}
h3 + h4 {
    margin-top: 0;
}
p {
    margin-left: 200px;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    line-height: 1.35;
}
figure {
    margin-right: 1em;
}
figure img {
    width: 100%;
}
table caption,
figure figcaption {
    margin-left: 200px;
    font-size: 0.85rem;
    font-family: 'Myriad pro', serif;
    text-align: left;
}
.table-title,
.figure-title {
    font-weight: bold;
}
.pre-small-image + figure img {
    padding-left: 200px;
}
table {
    font-size: 0.85rem;
    font-family: 'Myriad pro', serif;
    width: 100%;
}
th {
    vertical-align: bottom;
    font-variant: small-caps;
    font-weight: 600;
    line-height: 1;
    color: rgba(0, 0, 0, 0.54);
}
th,
td {
    padding: 3px;
}
.small-caps {
    font-variant: small-caps;
}
.aside {
    display: block;
    float: left;
    margin-top: 0;
    margin-left: 0;
    left: 1em;
    width: 165px;
    text-align: right;
    list-style-type: none;
    clear: both;
    margin-bottom: 1rem;
    font-family: 'Myriad pro', serif;
    font-size: 0.85rem;
    line-height: 1.40;
    color: rgba(0, 0, 0, 0.54);
}
.references {
    white-space: normal;
}
.references p {
    font-size: 80%;
    text-indent: -40px;
    margin-left: 40px;
}
.todo {
    color: red;
}
a {
    color: rgba(0, 0, 0, 0.87);
}
code {
    font-family: 'menlo', monospace;
}
table {
    margin: 2em auto 3em;
}
header h2 {
    margin: 0 0 2em;
}
.title {
    font-size: 36px;
}
.author {
    font-size: 14px;
}
.version {
    font-size: 14px;
}
.author:first-child,
.author:last-child {
    font-size: 20px;
}
code a,
.author a {
    text-decoration: underline;
}
.equation {
    margin: 2rem 0 3rem;
}
.footnotes {
    margin-top: 3em;
    padding-top: 1em;
    border-top: 1px solid #000;
}
